@charset "utf-8";
@media (max-width:1200px){
    header .main h1{
      color: #efaf32;
      font-size:60px;
    }
    header .main p{
      color: #fff;
      font-size: 26px;
      margin-top: 10px;
    }
    header .main i{
      color: #efaf32;
      font-size: 50px;
      margin-top:50px;
    }
    main .all-cont{
      display: block;
    }
    main .all-cont .all-text, main .all-cont aside{
      width: 100%;
      padding:20px;
    }
}

@media (min-width:1700px){
  main .content .content-course article{
    width:400px;
    max-width:none;
  }
  main .content .content-course article .course-info h1{
    font-size:40px;
  }
  main .content .content-course article .course-info p{
    font-size:20px;
  }
  main .content .content-course article .course-info a{
    padding: 8px 0;
    font-size:22px;
  }

  footer .footer .logo2 img{
    width:150px;
  }
  footer .footer ul h1{
    font-size: 36px;
  }
  footer .footer ul li a{
    font-size: 22px;
  }
  footer .copyright{
    font-size: 18px;
  }
}