  /* FOOTER */
footer{
  background-color: #33313b;
}
footer .footer{
  width: 95%;
  max-width:1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  flex-wrap: wrap;
}
footer .footer .logo2 img{
  width:100px;
}
footer .footer ul h1{
  color: #efaf32;
  font-size:34px;
  margin-bottom: 5px;
}
footer .footer ul li a{
  color: #efaf32;
  font-size: 20px;
}
footer .footer ul li a:hover{text-decoration: underline;}
footer .footer ul li i{
  margin-left: 5px;
}
footer .copyright{
  text-align: center;
  color:#efaf32;
  padding-bottom:20px;
}

@media (max-width:1200px){
  /* FOOTER */
  footer .footer{
    display: block;
    text-align: center;
  }
  footer .footer .logo2{
    margin-bottom: 70px;
  }
  footer .footer ul{
    margin: 30px 0;
  }
  footer .footer ul h1{
    font-size:40px;
  }
  footer .footer ul li{
    margin-top:10px;
  }
}