*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box; 
    list-style:none;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}
html{
  scroll-behavior: smooth;
}
input:focus{
  outline: none;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #efaf32;
}

  /* For mozila */
  @-moz-document url-prefix() {}
/**********************/

body{
  font-family: 'El Messiri', sans-serif !important;
}
a{
  user-select: none;
}
img{
  pointer-events: none;
}