header{
  width:100%;
  max-width:1920px;
  margin: 0 auto;
}
header .background{
  position: absolute;
  top:-2px; left: 0;
  right: 0;
  width: 100%;
  max-width:2049px;
  margin:auto;
  z-index: -9999;
}

header .main{
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 115px 0;
  flex-wrap: wrap;
}
header .main .home-info{
  margin: 0 auto;
}
header .main .home-info h1{
  color: #efaf32;
  font-size: 80px;
}
header .main .home-info .p1{
  color: #fff;
  margin-top: 15px;
  font-size: 20px;
}
header .main .home-info a{
  color: #efaf32;
  border: solid 2px #efaf32;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  justify-content: center;
  padding: 5px;
  margin-top: 15px;
  transition: all 0.3s;
  background-color: #33313b;
} header .main .home-info a:hover{background-color: #fff; color: #33313b;border: solid 2px #fff;}
header .main .home-info a .p2{
  margin-left: 10px;
}
header .main .home-img{
  margin:50px auto 0 auto;
}
header .main .home-img img{
  width:500px;
}


/* MAIN */
main{
  max-width: 1920px;
  margin: 0 auto;
}
main .boxinfo{
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding:50px 0;
}
main .boxinfo article{
  margin:200px 0;
}
main .boxinfo article img{
  width:200px;
}
main .boxinfo article p{
  font-size: 70px;
  color: #33313b;
  font-weight: bold;
  margin-top: 15px;
}
main .boxdescription{
  width: 95%;
  margin: 0 auto;
}
main .boxdescription .minbox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  margin:100px 0;
  padding: 50px 0;
}
main .boxdescription .minbox img{
  width:500px;
  margin: 0 50px;
}
main .boxdescription .minbox .minbox-info{
  margin: 0 50px;
}
main .boxdescription .minbox .minbox-info h1{
  color: #efaf32;
  font-size:60px;
}
main .boxdescription .minbox .minbox-info p{
  color: #33313b;
  font-size:28px;
}

main .content{
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}
main .course-h1 h1{
  font-size:50px;
  color: #33313b;
  padding-right: 30px;
}

/* START BOX FOR COURSE */
main .content .content-course{
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
main .content .content-course article{
  border: solid 1px #ededed;
  width: 300px;
  max-width: 300px;
  border-radius: 8px;
  margin: 50px 75px;
}
main .content .content-course article .course-img{
  height:222px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
main .content .content-course article .course-color1{
  background-color: #eaf9f8;
}
main .content .content-course article .course-color2{
  background-color: #e9effd;
}
main .content .content-course article .course-color3{
  background-color: #e9effd;
}
main .content .content-course article .course-color4{
  background-color: #eaf9f8;
}
main .content .content-course article .course-img img{
  width:180px;
}
main .content .content-course article .course-info{
  padding:20px;
}
main .content .content-course article .course-info h1{
  color: #33313b;
  font-size: 30px;
}
main .content .content-course article .course-info p{
  margin-top:8px;
  color: #33313b;
}
main .content .content-course article .course-info a{
  display: inline-block;
  background-color: #33313b;
  color: #efaf32;
  padding:5px 0;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  margin-top: 15px;
}


