/* STYLE */
.all-text h2{
  color: #33313b;
  font-size:36px;
  list-style:circle;
  margin-bottom: 5px;
}
.more{
  color: #33313b;
  font-size: 34px;
  margin-right: 15px;
}
.all-text p{
  color: #33313b;
  font-size:17px;
  margin-bottom: 15px;
  line-height: 30px;
}
.all-text a{
  color: #4f9ddd;
  font-size: 20px;
} .src:hover{text-decoration: underline;}
.all-crs a {
  color: #33313b;
}
.note{
  padding: 20px;
  color: #33313b;
  background-color:#efaf32;
  border-right: solid 6px #33313b;
  margin-bottom:30px;
  border-radius: 5px;
  position: relative;
}
.note p, .alert p{
  /* margin-right:16px; */
  font-size:18px;
  margin-bottom: 0;
}
.note div, .alert div{
  margin-right: 16px;
}
.note i, .alert i{
  position: absolute;
  top:10px;
  right:10px;
}
.alert{
  padding: 20px;
  color: #33313b;
  background-color:#f8d7da;
  border-right: solid 6px #33313b;
  margin-bottom:30px;
  border-radius: 5px;
  position: relative;
}

/* .note2{
  padding: 10px;
  color: #33313b;
  background-color: #efaf32;
  border-right: solid 4px #33313b;
  font-size: 18px;
  border-radius: 5px;
  margin: 10px 0;
} */
.mini-list{
  border: 1px solid #ededed;
  border-radius: 8px;
  width:80%;
  padding: 30px;
  margin: 0 auto;
  margin-bottom:40px;
}
.mini-list h1{
  color: #33313b;
  font-size:30px;
  margin-bottom:10px;
}
.mini-list p{
  color: #33313b;
  font-size:18px;
  margin-bottom: 0;
}
.mini-list p a{
  background-color: #33313b;
  color: #efaf32;
  padding:4px 30px;
  width:30%;
  text-align: center;
  display: inline-block;
  border-radius:5px;
  margin-top:15px;
}
.box-list-crs{
  border: solid 1px #ededed;
  border-radius: 8px;
  width:70%;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.box-info-crs h2{
  margin-bottom: 15px;
  color: #33313b;
  font-size: 28px;
}
.box-info-crs p{
  margin-bottom: 30px;
  color: #33313b;
}
.crs{
  border: solid 1px #ededed;
  color: #33313b;
  display: flex;
  align-items: center;
  width:100%;
  border-radius: 5px;
  width:100%;
  padding:8px 10px;
  position: relative;
  margin:30px 0;
  transition: all 0.4s;
}
.crs:hover{
  background-color: #ededed;
  border: solid 1px #4f9ddd;
}
.crs img{
  width:35px;
  border-radius: 50%;
}
.crs p{
  margin-right:10px;
  font-weight: bold;
}
.crs i{
  position: absolute;
  left:10px;
  font-size:20px;
}
.crs .top{
  top: -10px;
  right: -10px;
  color: #efaf32; 
}
.app-play{
  position: relative;
  right:25%;
}
.box-play{
  text-align: center;
  margin-top: 40px;
  border: solid 1px #ededed;
  border-radius: 8px;
  /* width:70%; */
  padding: 30px;
}

.box-play a{
  background-color: #33313b;
  color: #efaf32;
  padding: 8px 30px;
  margin:10px auto;
  width:30%;
  text-align: center;
  display: inline-block;
  border-radius:5px;
}
hr{
  width:40%;
  border: solid 1px #ededed;
  margin:30px 0;
}
.all-crs p{
  font-size: 16px;
  margin-bottom: 0;
}
.to_next, .edit_page{
  border: solid 1px #ededed;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px;
  transition: all 0.5s;
  margin: 15px 0;
}
.to_next:hover, .edit_page:hover{background-color: #c4daee; border: solid 1px #4f9ddd;}
.to_next h1, .edit_page h1{
  font-size: 22px;
  margin-bottom: 0;
  color: #33313b;
}
.to_next p, .edit_page p{
  background-color: #33313b;
  color:#efaf32;
  border-radius: 6px;
  padding: 3px 20px;
  font-size: 16px;
  margin-bottom: 0;
}



@media (max-width:1200px){
  .title{
    font-size: 28px;
  }
  .text{
    font-size: 18px;
  }
  .mini-list{
    width:100%;
    margin:0 auto 40px auto;
    padding: 20px;
  }
  .mini-list h3{
    /* font-size:20px; */
  }
  .mini-list p{
    font-size: 17px;
  }
  .mini-list p a{
    width:100%;
    margin: 0 auto;
    margin-top: 15px;
  }
  .box-list-crs{
    width: 100%;
    margin:0 auto 40px auto;
    padding: 20px;
  }
  .app-play{
    width: 100%;
    position: static;
  }
  hr{
    width:80%;
    margin: 30px auto;
  }
  .to_next, .edit_page{
    display: block;
    text-align: center;
  }
  .to_next:active{background-color: #ededed; border: solid 1px #4f9ddd;}
  .to_next h1, .edit_page h1{
    margin-bottom: 20px;
  }
  .toc a{
    line-height:36px;
  }
}